* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 3% 4%;
}

.card {
    align-content: center;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-grid img {
    height: 200px;
    width: 200px;
}

@media (max-width: 600px) { 

    .card-grid img {
        height: 280px;
        width: 280px;
    }

    .card {
        margin-right: 0 !important;
    }

    .btn-descarga-text { 
        margin-left: 4px;
    }

    .btn-descarga-icon { 
        margin-left: 53px;
    }

}
