* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 3% 4%;
}

.card {
    align-content: center;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-grid img {
    height: 200px;
    width: 200px;
}